<div class="container">
  <div class="d-flex justify-content-start align-items-baseline mb-3">
    <h1><%= @task.title.capitalize %></h1>
    <%= link_to raw('<i class="fa-solid fa-pencil ms-3"></i> Edit'), edit_task_path %>
  </div>

  <div class='card mb-3'>
    <div class='card-body'>
      <p><%= @task.details %></p>
    </div>
  </div>

  <div class="d-flex justify-content-start align-items-baseline mb-3">
    <% if @task.completed %>
      <i class="fa-regular fa-square-check"></i>
      <p class="ms-3"> This task is completed</p>
    <% else %>
      <i class="fa-regular fa-square"></i>
      <p class="ms-3"> This task is not completed yet</p>
    <% end %>
  </div>

  <%= link_to raw('<i class="fa-solid fa-circle-arrow-left"></i> Back to list'), tasks_path %>
</div>
